header {
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: transparent;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.logo img {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

header .nav-desktop nav li {
  margin-right: 1rem;
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}

header .nav-desktop .header-bar {
  position: relative;
  padding: 16px 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* mobile navbar style */
header .nav-mobile {
  font-family: var(--font-norwester);
  display: none;
}

header .nav-mobile .header-bar {
  position: relative;
  padding: 16px 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .nav-mobile .navbar-toggle {
  color: #000;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  cursor: pointer;
}

header .nav-mobile .navbar-toggle .bar {
  width: 100%;
  height: 5px;
  background-color: #000;
  transition: transform 0.3s, opacity 0.3s, background-color .1s;
}

/* .navbar-toggle:hover > .bar {
  background-color: #fff;
} */

header .nav-mobile nav ul {
  display: none;
  list-style: none;
  padding: 24px 10%;
  width: 80%;
  height: 70vh;
  text-align: end;
}

header.open .nav-mobile {
  height: 100vh;
  background-color: var(--primary-color);
}

header.open .nav-mobile nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

header.open .nav-mobile nav ul li {
  padding: 3vh 0;
  font-size: 2.5rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  header .nav-mobile {
    display: block;
  }
  header .nav-desktop {
    display: none;
  }
}