#proof h2 {
  font-family: var(--font-norwester);
  font-size: 4rem;
}

#proof .proof-items {
  margin-top: 1rem;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#proof .proof-items img {
  object-fit: contain;
  width: 100%;
  max-width: 350px;
}

@media (max-width: 768px) {
  #proof  h2 {
    margin-bottom: 4rem;
  }
  #proof .proof-items {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
  #proof .proof-items img {
    margin-top: 1rem;
  }
}